<p id="notice"><%= notice %></p>



  <% @articles.each do |article| %>
  <a href="<%= article.link %>" style="text-decoration: none; color: black;">
<div class="card border-light mb-3">
  <div class="card-header border-top"><%= article.title %></div>
  <div class="card-body">
  <p class="card-title font-weight-bold"><%= l article.created_at, format: :short %></h5>
  <p class="card-text"><%= simple_format(article.text) %></p>
  </div></a>
</div>
  <% if user_signed_in?%>
<%= link_to '編集', "/articles/#{article.id}/edit", method: :get %> 
  <% end %>
  <% end %>
  <%= paginate(@articles) %>
  <div class="border border-light mb-3"></div>
  
<br>

