  <div class="border border-light mb-3"></div>  
<br>

  <h6 class="text-center border border-dark p-2 mt-2 col-5 mx-auto">INFO</h6>
</div>

<% if user_signed_in? %>
<div class="py-5">
 <h6 class="text-center border border-dark p-2 mt-3 mb-4 col-5 mx-auto bg-dark">
    <%= link_to "ログアウト", destroy_user_session_path, class: "logout-new-font-color", method: :delete %>
 </h6>
  <h6 class="text-center p-2 mt-3 mb-4 col-5 mx-auto bg-danger">
    <%= link_to '新規記事の投稿', new_article_path, class: "logout-new-font-color" %>
  </h6> 
  </div>
<% end %>





  <% @articles.each do |article| %>
    <a href="<%= article.link %>" style="text-decoration: none; color: black;">
      <div class="card border-light mb-3">
        <div class="card-header border-top"><%= article.title %></div>
          <div class="card-body">
            <p class="card-title font-weight-bold"><%= l article.created_at, format: :short %></h5>
            <p class="card-text"><%= simple_format(article.text) %></p>
          </div>
      </div>
    </a>
      <% if user_signed_in?%>
      <h6 class="text-center p-2 mt-3 mb-4 col-5 mx-auto bg-success">
        <%= link_to '編集', "/articles/#{article.id}/edit", method: :get, class: "logout-new-font-color" %>
    </h6>
      <% end %>
  <% end %>
  <%= paginate(@articles) %>

    <div class="border-bottom bb-color mb-3"></div>  
<br>

