<div class="post_wrapper">

<div class="contents" >
  <div class="post_name_top">
    <span class="user_name_top">
      <a href="/users/<%= current_user.id %>", class="post-name-link">
      <%= fa_icon 'user-circle' %> <%= @name %></a></span> <span class="mypage_top_btn"><a href="/posts", class="logout-new-font-color"><%= fa_icon 'list-ul' %></a></span>

      </a>
    </span>
  </div>

  <% @posts.each do |post| %>
    <%= render partial: "posts/post", locals: { post: post } %>  <% end %>
  <%= paginate(@posts) %>
</div>
</div>