<div class="contents">
<%= link_to "投稿する", new_post_path %>
 <%= current_user.name %>
    <a href="/users/<%= current_user.id %>">マイページ</a>

<% @posts.each do |post| %>
<div class="content_post" style="background-image: url(<%= post.image %>);">
</div>
<%= simple_format(post.text) %>
<% end %>
<%= paginate(@posts)%>

</div>