<div class="post_wrapper">
<div class="contents">
<div class="room_btns_wrapper">
  <h6 class="text-center p-2 mt-3 col-1 mr-2 room_btn_color">
    <div class=""><%= link_to new_post_path, class: "logout-new-font-color" do %><%= fa_icon 'plus' %><% end %></div>
  </h6>
  <h6 class="text-center p-2 mt-3 col-1 mr-2 room_btn_color">
    <a href="/users/<%= current_user.id %>", class="logout-new-font-color"><%= fa_icon 'home' %></a>
  </h6>
</div>

    

<% @posts.each do |post| %>
  <%= render partial: "post", locals: { post: post } %>
<% end %>

</div>
</div>