<div class="image-center">
<%= image_tag @post.image, class: "a" %>
</div>
    <%= simple_format(@post.text) %>
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="more">
      <ul class="more_list">
        <li>
          <%= link_to '編集', "/posts/#{@post.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/posts/#{@post.id}", method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <span class="name">
      <a href="/users/<%= @post.user.id %>">
        <span>マイページ</span>
      </a>
      <a class="btn" href="/posts">投稿一覧へ戻る</a>
    </span>
     <div class="container"> 
    <!-- ここからコメントフォーム -->
    <% if current_user %>
      <%= form_tag("/posts/#{@post.id}/comments", method: :post) do %>
        <textarea cols="30" name="text" placeholder="コメントする" rows="2"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>

    <div class="comments">   
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>