<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <title>Vecken Offcial Cite</title>
  </head>
<body>
  <header class="sticky-top bg-white">
    <div class="container">
      <div class="row">
        <%= link_to root_path, class: "col-12 text-center pt-3 display-5 title-font" do %>Vecken<% end %>
        
        <div class="col-12 border-bottom d-sm-none">
      </div>
    </div>
    <div class="container header-nav">
      <nav class="navbar  w-100 nav-justified navbar-expand-sm navbar-light">
        <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class: 'd-sm-inline d-none col-sm-1　justify-content-between top-bar-font mx-sm-4' do %>SIGN OUT<% end %>
        <% else %>
        <%= link_to new_user_session_path, class: 'd-sm-inline d-none col-sm-1　justify-content-between top-bar-font mx-sm-4' do %><%= fa_icon 'user' %><% end %>
        <% end %>
      
      <!--

        <%= link_to posts_path, method: :get, class: 'd-sm-inline d-none col-sm-1　justify-content-between top-bar-font mx-sm-4' do %>VECKEN'S ROOM<% end %>

      -->

        <%= link_to root_path, class: 'col-sm-1　justify-content-between top-bar-font mx-sm-4' do %>TOP<% end %>
        <%= link_to info_path, class: ' col-sm-1　justify-content-between top-bar-font mx-sm-4' do %>INFO<% end %>
        <%= link_to schedule_path, class: 'col-sm-1　justify-content-between top-bar-font mx-sm-4' do %>SCHEDULE<% end %>
        <%= link_to profile_path, class: 'col-sm-1　justify-content-between top-bar-font mx-sm-4' do %>PROFILE<% end %>
        <%= link_to music_path, class: 'col-sm-1　justify-content-between top-bar-font mx-sm-4' do %>MUSIC<% end %>
        <%= link_to goods_path, class: "navbar-brand  col-sm-1 d-none d-sm-inline top-bar-font" do %>GOODS & JOB<% end %>

      <!--
        <%= link_to art_path, class: "navbar-brand  col-sm-1 d-none d-sm-inline top-bar-font" do %>ART<% end %>
        <%= link_to vstyle_path, class: "navbar-brand  col-sm-1 d-none d-sm-inline top-bar-font" do %>STYLE<% end %>
      -->

        <%= link_to 'https://twitter.com/1230Vecken', class: "navbar-brand  col-sm-1 d-none d-sm-inline top-bar-font" do %>TWITTER<% end %>
        <%= link_to 'https://www.instagram.com/vecken_1230_/?hl=ja', class: "navbar-brand  col-sm-1 d-none d-sm-inline top-bar-font" do %>INSTAGRAM<% end %>
        <%= link_to 'https://www.youtube.com/channel/UCvQKxZldgFnhwvwAgPbaWwQ', class: "navbar-brand col-sm-1 d-none d-sm-inline top-bar-font" do %>YOUTUBE<% end %>
        <button class="navbar-toggler" onclick="$('#menu').collapse('toggle')" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menu" class="d-sm-none collapse navbar-collapse pb-4 mt-3">
          <ul class="navbar-nav d-sm-none">
            <button class="bg-light font-weight-light text-secondary" onclick="$('#menu').collapse('hide')">-CLOSE-</button>

          <% if user_signed_in? %>
            <li class="nav-link text-center"><%= link_to  destroy_user_session_path, class: 'nav-link', method: :delete do %>SIGN OUT<% end %></li>
          <% else %>
            <li class="nav-link text-center"><%= link_to  new_user_session_path, class: 'nav-link' do %>SIGN IN & SIGN UP<% end %></li>
          <% end %>
        <!--
            <li class="nav-link text-center"><%= link_to  posts_path, class: 'nav-link', method: :get do %>VECKEN'S ROOM<% end %></li>
        -->

            <li class="nav-link text-center p-0"><%= link_to root_path, class: 'nav-link' do %>TOP<% end %></li>
            <li class="nav-link text-center p-0"><%= link_to profile_path, class: 'nav-link' do %>PROFILE<% end %></li>
            <li class="nav-link text-center p-0"><%= link_to info_path, class: 'nav-link' do %>INFORMATION<% end %></li>
            <li class="nav-link text-center p-0"><%= link_to music_path, class: 'nav-link' do %>MUSIC<% end %></li>
            <li class="nav-link text-center p-0"><%= link_to goods_path, class: 'nav-link' do %>GOODS & JOB<% end %></li>

        <!--
            <li class="nav-link text-center p-0"><%= link_to art_path, class: 'nav-link' do %>ART<% end %></li>
            <li class="nav-link text-center p-0"><%= link_to vstyle_path, class: 'nav-link' do %>STYLE<% end %></li>
        -->

            <li class="nav-link text-center p-0"><%= link_to 'https://twitter.com/1230Vecken', class: 'nav-link' do %>TWITTER<% end %></li>
            <li class="nav-link text-center p-0"><%= link_to 'https://www.instagram.com/vecken_1230_/?hl=ja', class: 'nav-link' do %>INSTAGRAM<% end %></li>
            <li class="nav-link text-center p-0"><%= link_to 'https://www.youtube.com/channel/UCvQKxZldgFnhwvwAgPbaWwQ', class: 'nav-link' do %>YOUTUBE<% end %></li>
        <!--
          <% if user_signed_in? %>
            <li class="nav-link text-center"><%= link_to  destroy_user_session_path, class: 'nav-link', method: :delete do %>お問い合わせ<% end %></li>
          <% end %>
        -->

          </ul>
        </div>
      </nav>
    </div>
  </header>

<%= render 'layouts/notifications' %>
   <div class="post_wrapper">

 <%= yield %>
</div>

      <div class="row-12">
        <% if user_signed_in? %>
          <div class="col">
            <div class="hide">Copyright © 2020 Vecken. All Rights Reserved.</div>          
          </div>
        <% else %>
          <div class="col float-right">   
            <div class="hide">Copyright © 2020 <%= link_to new_user_session_path, class: 'seek' do %>Vecken.<% end %> All Rights Reserved.</div>          
          </div>
        <% end %>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>